<header class="customer-header" th:fragment="header"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <div class="customer-header__inner">
    <div class="customer-header__left">
      <a class="customer-header__brand" th:href="@{/}">케이크 쇼핑몰</a>
      <nav th:replace="~{fragments/customer/gnb :: gnb}"></nav>
    </div>
    <div class="customer-header__actions">
      <a class="btn" sec:authorize="hasRole('ADMIN')" th:href="@{/admin/store}">관리자</a>
      <a class="btn" th:href="@{/products}">검색</a>
      <a class="btn" sec:authorize="isAuthenticated()" th:href="@{/notifications}">알림 <span class="badge" data-unread-count style="display: none;">0</span></a>
<!--      <a class="btn" th:href="@{/cart}" data-cart-count>장바구니 (0)</a>-->
      <!-- 로그인 한 경우에만 장바구니를 띄우도록 수정. -->
      <a class="btn" sec:authorize="isAuthenticated()" th:href="@{/cart}" data-cart-count>장바구니 (0)</a>
      <a class="btn" sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a>
      <a class="btn" sec:authorize="isAuthenticated()" th:href="@{/mypage}">마이페이지</a>
      <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
        <button class="btn" type="submit">로그아웃</button>
      </form>
    </div>
  </div>
</header>
